<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <div class="logo">🎬 MovieRec</div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<div class="container">

<h1>About This Project</h1>

<p>
This Movie Recommendation System recommends movies based on content similarity.
It is built using Python, Flask, Pandas, HTML, CSS and Machine Learning.
</p>

<h2>Technologies Used</h2>

<ul>
<li>Python</li>
<li>Flask</li>
<li>Pandas</li>
<li>HTML</li>
<li>CSS</li>
<li>Machine Learning</li>
</ul>

</div>

</body>
</html>